@model BrawlbotsMVC.Models.WedstrijdenData

@{
    ViewData["Title"] = "CreateWedstrijdForm";
}

<h1>CreateWedstrijdForm</h1>

<h4>WedstrijdenData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-action="FetchMatches" class="btn btn-primary wd-40 mb-1">Terug</a>
        <form asp-action="ProcessCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
            <div class="form-group">
                <label asp-for="arena_name" class="control-label"></label>
                <input asp-for="arena_name" class="form-control" />
                <span asp-validation-for="arena_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="match_date" class="control-label"></label>
                <input asp-for="match_date" class="form-control" />
                <span asp-validation-for="match_date" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
