@model BrawlbotsMVC.Models.RobotData

@{
    ViewData["Title"] = "editRobot";
}

<h1>editRobot</h1>

<h4>RobotData</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <a asp-action="Robot" class="btn btn-primary w-40 mb-1">Terug</a>
        <form method="post" asp-action="CreateEditForm" asp-controller="Robot">
            <input type="hidden" asp-for="id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weapon" class="control-label"></label>
                <input asp-for="Weapon" class="form-control" />
                <span asp-validation-for="Weapon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type_of_movement" class="control-label"></label>
                <input asp-for="type_of_movement" class="form-control" />
                <span asp-validation-for="type_of_movement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight_class" class="control-label"></label>
                <input asp-for="weight_class" class="form-control" />
                <span asp-validation-for="weight_class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="team_name" class="control-label"></label>
                <input asp-for="team_name" class="form-control" />
                <span asp-validation-for="team_name" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
